BasedOnStyle: LLVM
Standard: c++20
ColumnLimit: 100
PointerAlignment: Right

IncludeBlocks: Regroup
IncludeCategories:
  # Local project headers ("foo.h")
  - Regex: '^"'
    Priority: 1
  # Third-party headers (<lib/...> and <imgui.h> etc.)
  - Regex: "^<(hddll|ixwebsocket|nlohmann|imgui|minhook)"
    Priority: 3
  # System / standard library headers
  - Regex: "^<"
    Priority: 2
